{{ define "body-class" }}template-artitalk{{ end }}

{{ define "head" }}
    <!-- 可选：预加载 Artitalk 脚本 -->
    <link rel="preload" href="https://unpkg.com/artitalk" as="script">
{{ end }}

{{ define "main" }}
<main class="artitalk-page main">
    <article class="single article">
        <header class="article-header">
            <h1 class="article-title">{{ .Title }}</h1>
        </header>

        <div class="article-content">
            <div id="artitalk_main"></div>
        </div>
    </article>
</main>

<script src="https://unpkg.com/artitalk"></script>
<script>
  new Artitalk({
    appId: '20In9roWavNrTMj76UmVEALE-MdYXbMMI',
    appKey: 'Y8DPaodZp5fsFEFLMTwj2QEk',
    color1: 'linear-gradient(45deg,rgba(109,208,242,0.75) 15%,rgba(245,154,190,0.75) 85%)',
    color2: 'linear-gradient(45deg,rgba(109,208,242,0.75) 15%,rgba(245,154,190,0.75) 85%)',
  });
</script>

{{ partialCached "footer/footer" . }}
{{ end }}
